*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background:#fffdd0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-app{
    /* background:#4ecef6; */
    /* height: 100vh; */
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

}

.weather-app h1{
    font-size: 40px;
    color: yellow;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    gap: 10px;
}
.searchbtn{
    padding: 5px 12px;
    border-radius: 14px;
    background: yellow;    
}
.city-input{
    padding: 10px 80px;
    border-radius: 14px;
    background: #b8cfd6;
}
.blue{
    background:#4ecef6; 
    border-radius: 20px;
    padding: 20px;
    width: 520px;
    text-align: center;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
    height: 100vh;
    border: 4px solid black;

}
#box1{
    margin-top: 33px;
}
.description{
    display: flex;
    align-items: center;

}
.broken{
    color: rgba(8, 5, 5, 0.917);
    font-size: 30px;
}
.stats{
    /* display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px; */
    /* border: 2px solid black; */
    border-radius: 12px;
    background-color: rgb(234, 247, 247);
    padding: 12px 6px;
    width: 150px;
    height: 30vh;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    /* justify-content: space-between; */
}
.degree{
    font-size: 100px;
    color: yellow;
}
.location{
    font-size: 35px;
}
.box{
    /* background: white; */
    color: black;
    flex: 1;
    border-radius: 1px solid rgb(250, 243, 243);
    justify-content: center;
    align-items: center;

    /* padding: 10px 5px; */
    
}
.box img{
    width: 90px;
    margin-bottom: 5px;
}
.box h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.box small{
    font-size: 25px;
    color: gray;
    margin-top: 0px;

}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}
.spacing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 10px; */
}
input::placeholder{
    text-align: left;

    /* margin-right: 20px */
    /* font-size: 20px; */

}
.ssearch{
    display: flex;
    flex-direction: column;
}